* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #0070f3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0051a2;
  }
  
  button:focus {
    outline: none;
  }
  
  .matchup {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .matchup div {
    text-align: center;
  }
  
  .matchup img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .ranking-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ranking-results table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .ranking-results th,
  .ranking-results td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .ranking-results th {
    font-weight: bold;
  }
  
  .results-password {
    margin-bottom: 20px;
  }
  
  .results-password input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  
  .btn {
    background-color: #0070f3;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0051a2;
  }

  .warning {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .img-container {
    position: relative;
    padding-top: 0px; /* Make space for the crown */
    display: inline-block; /* Prevents the container from taking up the full width */
    background-color: transparent; /* Make sure the background is transparent */
    overflow: visible; /* Show the crown even if it's out of the container's bounds */
  }
  
  .crown {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
  }

  .ranking-results h2 {
    margin-bottom: 90px; /* Increase the space below the "Results" label */
  }
  